.logo{
    height: 100px;
    display: flex;
    justify-content: center;
}
.search{
    display: flex;
    justify-content: center;
    background-color: grey;
    border: none;
}
.titre{
    font-weight: bolder;
    text-align: center;
    font-size: x-large;
}
.description{
    font-weight: lighter;
    text-align: center;
    font-size: medium;
}
.bloc{
     background-color: lightgray;

}