.logo{
    justify-content: center;
}
.search{
    justify-content: center;
    background-color: #C5CBD0;
    border: none;
    display: flex;
    height: 50px;
    padding-bottom: none;
}
.location{
    background-color:#C5CBD0;
    border: none;
}
.titre{
    font-weight: bolder;
    font-size: x-large;
}
.description{
    font-weight: lighter;
    font-size: medium;
}
.bloc{
     background-color: #f6f6f6;
     text-align: center;
     margin: 0rem 0 4rem;
     padding-top: none;

}
.explorer{
    border-radius: 5rem;
   padding: 0.8rem 2rem;
   color: white;
   background: linear-gradient(rgba(255,69,201,1)17%,rgba(123,57,196,1)97%);
}
.boutons{
        border-radius: 10px;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        background-color: #f6f6f6;
        border: none;
        box-shadow: 0 5px 10px #c3c3c3;
        display: flex;
        padding: 1rem 3rem 1rem 3rem;
        font-weight: bolder;
}    
.images{
    margin: 5rem 1rem 5rem 1rem;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px #cccaca;
    margin: 2rem;
    position: relative;
    box-shadow: 4px 4px 20px rgb(201,201,201);
    .restaurants img{
        border-radius: 1rem ;
        object-fit: cover;
    }
    .new{
        position: absolute;
        right: 10px;
        top: 10px;
        color: green;
        background-color: rgb(134, 209, 134);
        padding: 0.4rem 0.8rem;
    }
    .restaurants__elements{
        h2{
            font-weight: bold;
        }
        .restaurant_elements_heart{
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color:rgb(248, 61, 208) ;
            }
        }
    }    
}